.dashboard-template {

    .google-map {
        position: absolute;
        bottom: 30px;
        top: 110px;
        left: 300px;
        right: 30px;


        .map-info {
            .name {
                font-weight: bold;
                display: block;
                margin-bottom: 10px;
            }
        }
    }
}