.login-template {

    .panel {
        background: white;

        form {
            width: 50%;
            margin: auto;

            .btn-valid {
                margin-right: 2rem;
            }
        }
    }
}