.btn {
    padding: 8px 25px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.btn-valid {
    background: $darkblue2;
    color: white;
    border: 2px solid $darkblue2;
}

.btn-valid:hover {
    background: $orange;
    color: white;
    border: 2px solid $orange;
}

.btn-default {
    background: white;
    color: $darkblue2;
    border: 2px solid $darkblue2;
}

.btn-danger {
    background: #d9534f;
    border: 2px solid #d9534f;
}