* { 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;         
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

ul {
	list-style: none;
}

body {
	font-family: Verdana;
	font-size: 13px;
	color: $darkblue;
}

h1 {
	font-size: 19px;
	font-weight: bold;
	color: $darkblue;
}