.navigation {
    overflow: hidden;
    background: $lightgray;
    border-bottom: 1px solid #4f7e97;

    .logo {
        width: 270px;
        height: 80px;
        padding-top: 10px;
        display: block;
        float: left;

        text-align: center;
        background: white;
        border-right: 1px solid #4f7e97;
    }

    .facilities-switcher {
        margin-top: 25px;
        margin-left: 30px;
        display: block;
        float: left;
    }

    .logout {
        height: 80px;
        display: block;
        float: right;
        padding: 27px 35px;

        font-size: 16px;
        font-weight: bold;
        color: white;
        background: $orange;

        .logout-icon {
            position: relative;
            top: -2px;
            vertical-align: middle;
            margin-left: 12px;

            color: white;
            font-size: 27px;
        }

        .logout-icon:hover {
            color: $lightgray;
        }

    }
}
